/* General Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #b4fff5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Style */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 2px solid black;
}

/* Title Styling */
h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

/* Instructions */
.instructions {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
}

/* Grid Styling */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 2px solid #2924d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.3s;
}

.cell:hover {
    background-color: #8e89ee;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cell.winning {
    background-color: #939ed3;
    animation: flash 0.8s ease-in-out infinite;
}

@keyframes flash {
    0%, 100% {
        background-color: #939ed3;
    }
    50% {
        background-color: #939ed3;
    }
}

/* Button Styling */
.reset-button, .btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s, background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset-button:hover, .btn:hover {
    transform: scale(1.1);
    background-color: #388e3c;
}

.reset-button {
    margin-top: 20px;
}

.btn {
    margin: 5px;
}

.btn:focus, .reset-button:focus {
    outline: 2px solid #ff9800;
    outline-offset: 3px;
}

.btn:active {
    transform: scale(0.95);
}

/* Status Text Styling */
.status {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-align: center;
}

/* Opponent Selection Styling */
.opponent-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.opponent-selection p {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #3093b4;
    text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
    }
}